extends ../layout

block scripts
    script(src="/js/post.js" type="module")

block content
    h1=post.title
    p=post.content
    p
        | Posted by #{post.author} on #{post.createdAt}
    if session.loggedIn
        a(href=`/posts/${post.id}/edit`) Edit
    a(href="/posts") Back