extends ../layout

block scripts
    script(src="/js/posts.js" type="module")

block content
    h1 Posts
    .posts
        each post in posts
            .post
                h2=post.title
                p.post-content-preview=post.content
                a(href=`/posts/p/${post.id}`) Read more
                p
                    | Posted by #{post.author} on #{post.createdAt}
    if session.loggedIn
        if session.user.role === 'admin' || session.user.role === 'author'
            a(href="/posts/new") New Post
